@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Itim', cursive;
  max-width: 800px;
  min-width: 500px;
  font-weight: bold;
  margin: 40px auto;
  background-image: url('./images/cool-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

button {
  background-color: white;
  font-family: 'Itim', cursive;
  font-weight: bold;
  padding: 3px 5px;
  border: 4px solid black;
  box-shadow: 5px 5px black;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  padding: 40px;
  grid-gap: 50px;
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 7px 29px 0;
}

h1 {
  font-size: 50px;
}

.container {
  width: 50%;
}

.board-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaderboard {
  border: 4px solid black;
  margin-top: 20px;
  border-radius: 5px;
  overflow-wrap: break-word;
  max-height: 450px;
  overflow-y: scroll;
}

.leaderboard p {
  padding: 5px 10px;
}

.leaderboard p:nth-child(even) {
  background-color: #eee;
}

form {
  width: 50%;
}

input {
  font-weight: bold;
  padding: 10px;
  font-family: 'Itim', cursive;
  border: 4px solid black;
  display: block;
  margin-top: 20px;
  width: 100%;
}

input::placeholder {
  font-weight: bold;
}

.submit-btn {
  float: right;
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}